.login-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.login-image-main {
  width: 65%;
  height: 100%;
  background-color: rgb(203, 198, 227);
}
.login-form {
  width: 35%;
  height: 100%;
}
