.content-type-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(203, 198, 227);
  padding: 2%;
}
.ct-header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(203, 198, 227);
}
.ct-count {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(203, 198, 227);
}
.ct-list {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  background-color: rgb(203, 198, 227);
}

.content-type-moadal {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
}
.content-type-modal-content {
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
