.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.collection-types {
  width: 23%;
  height: 100vh;
  background-color: black;
}
.content-types {
  width: 23%;
  height: 100vh;
  background-color: aqua;
}
.content-type-values {
  width: 54%;
  height: 100vh;
  background-color: #ebeefe;
}
.collection-values {
  width: 77%;
  height: 100vh;
  background-color: green;
}
.cv-model {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
