.collection-values-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(203, 198, 227);
}
.collection-values-header {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: white;
  padding-left: 3%;
  align-items: center;
}
.collection-values-info {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 94%;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
  background-color: rgb(203, 198, 227);
}
.addNewCollection {
  display: flex;
  flex-direction: row;
  color: blueviolet;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.collection-values-table-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: rgb(203, 198, 227);
  justify-content: space-between;
}
.collection-values-table-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 100px;
  align-items: center;
}
.collection-values-table-header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-content: center; */
  align-self: center;
}
.collection-values-table {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(203, 198, 227);
}
.collection-values-table-item {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 92%;
  border-radius: 10px;
  margin-left: 1%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.collection-values-modal {
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
}
.collection-values-modal-header {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: white;
  padding-left: 3%;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-top: 15px;
}
.collection-values-modal-body-item {
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.collection-values-modal-body-item {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.collection-values-modal-body-item-input {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  border: rgb(26, 133, 194) solid 1px;
  width: 350px;
  height: 30px;
  margin-bottom: 25px;
  margin-top: 5px;
}
.collection-values-modal-body-field {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  width: 350px;
  height: 20px;
}
.collection-values-modal-footer {
  position: fixed;
  width: 500px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: flex-end;
  bottom: 0;
  height: 50px;
  margin-right: 50px;
}
.collection-values-modal-footer-button {
  margin-top: 10%;
  background-image: linear-gradient(
    to right,
    #a254e7 0%,
    #8031ad 51%,
    #6c2c7e 100%
  );
  font-family: Montserrat;
  border: none;
  color: white;
  border-radius: 4px;
  height: 25px;
  width: 100px;
  font-size: small;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.icon-utils {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.content-box {
  width: 60px;

  text-overflow: ellipsis;
  overflow: hidden;
}
