.collection-type-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clt-header {
  width: 90%;
  height: 70px;
  background-color: purple;
  display: flex;
  /* padding: 3%; */
  padding-left: 10%;
  color: white;
  justify-content: flex-start;
  align-items: center;
}
.clt-list {
  width: 100%;
  height: 400px;
  background-color: black;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
.clt-list-heading {
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
}
.clt-list-item {
  width: 100%;
  padding-left: 10%;
  height: 50px;
  display: flex;
  flex-direction: row;
  color: grey;
  align-items: center;
  /* padding-left: 10%; */
}
.clt-name {
  padding-left: 5%;
}
.clt-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* padding-left: 10%; */
}
.content-type-builder {
  color: grey;
  padding-left: 10%;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
}
